body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-image: url("img1.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #232323;
    background-position: right;
}

#bodyContainer {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 220px 1fr 50px;
}

#titleContainer {
    margin: auto;
    text-align: center;
    padding: 0 20px;
}

xmp {
    font-size: 2em;
    font-weight: 800;
}

.intro {
    font-size: 1.3em;
}

#infoContainer {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 0 20px;
}

.table {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
}

.oneItem {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.key {
    text-align: right;
}

.description {
    padding-left: 30px;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #ac91d6;
}

#footer {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 100%;
    background-color: rgba(52, 52, 52, 0.3);
}

.contact {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

i {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2em;
    color: white;
}

i:hover {
    color: #343434;
}

@media (max-width: 600px) {
    .table {
        padding: 20px 0 20px 0;
    }
    
    .oneItem {
        display: grid;
        padding: 10px 0 10px 0;
        grid-template-columns: 100%;
        grid-template-rows: auto-fit auto-fit;
    }
    
    .key {
        margin: 0;
        padding: 0;
        text-align: center;
        padding: 0;
    }
    .description {
        margin: 0;
        padding: 0;
        text-align: center;
    }
}
